* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
}

header {
    width: 400px;
    padding: 50px;
    color: white;
    background-color: #252525;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    font-size: 35px;
    margin-bottom: 50px;
}

p {
    margin-bottom: 35px;
}

button {
    width: 165px;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    background-color: #94D4D1;
    color: #252525;
    border: none;
    border-radius: 50px;
}

.form-container {
    position: relative;
}

.sub-intro {
    font-weight: 400;
    font-style: italic;
}

#close-form {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    color: white;
    width: 20px;
    height: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

input {
    border: none;
    width: 245px;
    height: 50px;
    margin-bottom: 35px;
    padding-left: 20px;
    font-size: 20px;
}

label {
    font-size: 10px;
}

.hero {
    width: calc(100vw - 400px);
    height: 100vh;
    background-image: url('./assets/river.png');
    background-size: 100vw 100vh;
    background-position: -250px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-heading {
    color: white;
    font-size: 80px;
    font-weight: 900;
    margin: 35px;
    filter: drop-shadow(5px 5px 0 #94D4D1);
}

.hide {
    display: none;
}

section {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.product-card {
    width: 225px;
    height: 275px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.product-img {
    width: 165px;
}

.cart-display {
    height: 50px;
    width: 200px;
    border-radius: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}